<% if current_user  %>
<h1>Welcome Back, <%= current_user.first %>!</h1> 
<h2>Go to: <%= link_to 'Users', users_path  %> or <%= link_to 'Beers', beers_path  %> </h2>
<% else %>
<h1>Sign Up</h1>
<%= form_for @user do |f| %>
<div>
    <%= f.label :first %>
    <%= f.text_field :first %>
    <%= f.label :last %>
    <%= f.text_field :last %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  Select the Beers you have!:<br>
  <%= f.collection_check_boxes :beer_ids, Beer.all, :id, :name %>
  <br><br>
  <div>
    <%= f.submit %>
  </div>
<% end %>
<% end %>

