<h1>Beers#new</h1>
<%= form_for @beer do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :brewery %>
    <%= f.text_field :brewery %>
  </div>
  <div>
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>